body {
    padding: 10px;
    
}
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

h1, h2 {
    text-align: center;
}

footer {
    text-align:center; margin-bottom: 0; padding: 1rem;
    font-size: 12px;;
}

.footer>a:link, 
.footer>a:visited,
.footer>a:active {
    text-decoration: none;
}

.footer>a:hover {
    background-color:gold;
}

.btn {
    margin: 4px;
}

div {
    margin:auto;
}

table {
    margin-top: 10px;
}

.division {
    padding-top: 5px;
    padding-bottom: 5px;
}


